<div class="card">
    <div class="card-block">
      <p class="card-text">
    {{ comment.message }}
      </p>
    </div>
    <div class="card-footer">
            <!-- [routerLink]="['/profile', comment.author.username]" -->
       <div class="comment-auth-info">
          <a class="comment-author">
              <!-- [src]="comment.author.image" -->
              <mat-icon color="accent">tag_faces</mat-icon>
            </a>
            &nbsp;
            <!-- [routerLink]="['/profile', comment.author.username]" -->
            <a class="comment-author" >
               {{comment.author.firstName}} 
            </a>
            <span class="date-posted">
               {{comment.date | date: 'longDate'}} 
               </span>
               <span class="date-posted2">
                {{comment.date | timeago:live}} 
                </span>
       </div>     
      
      <!-- [hidden]="!canModify" -->
      
            <!-- (click)="deleteClicked()" -->
       
      <span class="space"></span>
      <button [hidden]="!canModify" mat-raised-button color="warn" type="submit" (click)="deleteClicked()">
        <mat-icon >delete</mat-icon>
      
      </button>
    </div>
  </div>
