
// // breakpoint only:
@include media-breakpoint-only(xs) { 
    html,body{ font-size: 60% ;} 
    
    .container{
        max-width: 100%;
    }
    app-post-type{
        display: flex;
        flex-wrap: wrap;
    }
    .viewer-nav {
      
        &__content {
          height: 100%;
          min-height: 100%;
         
         
        }
      }
      mat-list-item{
          flex: 1;
      }
}
 @include media-breakpoint-only(sm) { 
     html,body{font-size: 70% ; } 
   
     .container{
        max-width: 100%;
    }
    app-post-type{
        display: flex;
        flex-wrap: wrap;
    }
    .viewer-nav {
      
        &__content {
          height: 100%;
          min-height: 100%;
         
         
        }
      }
      mat-list-item{
          flex: 1;
      }
     
  }
  @include media-breakpoint-only(md) { html,body{font-size: 80% ; } 
 
  .container{
      max-width: 100%;
  }
 
}
  @include media-breakpoint-only(lg) { html,body{font-size: 90% ;  .title{
   padding-top: 3rem;
 }}  }
  @include media-breakpoint-only(xl) { html,body{font-size: 100% ; }  }
 
 