footer {
    // position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .75rem;
    font-size: .75rem;
    background: var(--base-color);
   
}
.footer{
    align-items: center;
display: flex;
flex-flow: row wrap;
padding: .5rem;
color: #fff;
}
.footer-logo{
    flex: 1;
}
.footer-version{
    flex: 1;
    text-align: center;
}
.footer-copyright{
    flex: 1;
}
.footer-angular-logo{
    height: 3.12rem;
    width: 3.12rem;
    border-radius: 50%;
}
.footer-logo span{
    display: inline-block;
    line-height: 3.12rem;
    margin: 0 2.5rem;
    vertical-align: bottom;
}
a{
    text-decoration: none;
    color: inherit;
}