<div class="sidebar-tag">
    <div class="viewer-nav__content">
        <nav>
        <mat-toolbar class="postTypeList">Popular Tags</mat-toolbar>

        <mat-chip-list >
            <mat-chip  *ngFor="let tag of tags" color="accent" (click)="fetchBy(tag)" selected>{{tag}} </mat-chip>
          
        </mat-chip-list>
        </nav>
        <!-- <div [hidden]="tagsLoaded">
            Loading tags...
        </div> -->

        <!-- <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
        </div> -->
    </div>