.banner-user-info {
  color: #fff;
  background: #333;
  padding: 2rem;
  margin-bottom: 2rem;
  padding-top: 3.35rem;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .3), inset 0 -8px 8px -8px rgba(0, 0, 0, .3);

}







.user-info-meta {
  display: flex;
  justify-content: center;
}
.user-info-text{

 flex-grow: 1;
 text-align: center;
 padding: 0;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300 !important;
  margin: 1rem;
  color: #fff;
  text-shadow: 1px 1px #ff4081, 
  2px 2px #ff4081, 
  3px 3px #ff4081;
  text-transform: uppercase;

}
.margin-auto {
  margin: 0 auto;
}

.flex-spacer {
  flex-grow: 1;
 
}