<div class="article-preview">

    <div class="card">
        <div class="card-title">
            <app-post-meta [post]="post"> </app-post-meta>
            
            <span class="grow" color="white"> </span>
            <mat-icon class="grow-icon" color="white" [matBadge]="post.comments?.length" matBadgePosition="before" matBadgeColor="accent" aria-label="Example icon-button with a heart icon">mode_comment</mat-icon  >
            <div class="l">
                <app-like-button [post]="post"></app-like-button>
            </div>
        </div>
        <a class="preview-link">
            <h1><mat-icon class="subtitles-icon">subtitles</mat-icon> {{post.title}}  </h1>
          <p [innerHtml]="post.content | shorten:100">  </p>
            <a [routerLink]="['/post',post.id]" class="btn-text">Learn more &rarr;</a>
           
            <mat-chip-list >
                <mat-chip  *ngFor="let tag of post.tags" color="accent" (click)="fetchBy(tag.name)" selected>{{tag.name}} </mat-chip>
              
            </mat-chip-list>
            <div class="description">
                <div class="mb-wrap mb-style-2">  
                    <blockquote cite="">  
                      <p> {{post.description | shorten:60}}</p>
                    </blockquote>
                  </div><!--#mb-wrap-->
<!--                
                <blockquote>
                   <mat-icon class="description-icon">description</mat-icon> {{post.description}}
                </blockquote> -->
               
            </div>

        </a>
    </div>
    
  
</div>