<mat-toolbar class="tootlbar-header">
    <span> Singin </span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  
<div class="auth-page">
<div class="container page">
    <div class="row">

        <div class="col-md-6 offset-md-3 col-xs-12">
            <h1 class="text-xs-center">{{ title }}</h1>
            <p class="text-xs-center">
                <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
            </p>
            <!-- <app-list-errors [errors]="errors"></app-list-errors> -->
            <form class="form" (ngSubmit)="onSubmit()" [formGroup]="createForm">
            
                <fieldset [disabled]="isSubmitting">
                <div class="example-container">
                   
                 
                     
                    <!-- /////////////////////////////////////////EMAIL(UserNAME)////////////////////////////////////////////////// -->
                   
                    <mat-form-field hintLabel="Max 50 characters">
                        <input matInput #newPassword placeholder="Enter Your newPassword*" formControlName="newPassword">
                        <mat-hint align="end">{{newPassword.value?.length || 0}}/255</mat-hint>

                        <mat-error *ngIf="createForm.controls['newPassword'].errors?.minlength">Minimum 6 charactor
                        </mat-error>
                        <mat-error *ngIf="createForm.controls['newPassword'].errors?.required">this field is required
                        </mat-error>

                    </mat-form-field>
                    <!-- /////////////////////////////////////////PASSWORD////////////////////////////////////////////////// -->
                    <mat-form-field hintLabel="Max 50 characters">
                        <input matInput [type]="hide ? 'newRetypedPassword' : 'text'" #newRetypedPassword
                            placeholder="Enter Your newRetypedPassword*" formControlName="newRetypedPassword">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                        <mat-hint align="end">{{newRetypedPassword.value?.length || 0}}/255</mat-hint>
                        <mat-error *ngIf="createForm.controls['newRetypedPassword'].errors?.minlength">Minimum 6 charactor
                        </mat-error>
                        <mat-error *ngIf="createForm.controls['newRetypedPassword'].errors?.required">this field is required
                        </mat-error>
                        <mat-error *ngIf="createForm.controls['newRetypedPassword'].hasError('NoPassswordMatch')">No
                            Maching</mat-error>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 50 characters">
                        <input matInput [type]="hide ? 'oldPassword' : 'text'" #oldPassword
                            placeholder="Enter Your oldPassword*" formControlName="oldPassword">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                        <mat-hint align="end">{{oldPassword.value?.length || 0}}/50</mat-hint>
                        <mat-error *ngIf="createForm.controls['oldPassword'].errors?.minlength">Minimum 6 charactor
                        </mat-error>
                        <mat-error *ngIf="createForm.controls['oldPassword'].errors?.required">this field is required
                        </mat-error>
                    </mat-form-field>
                

                </div>
           
                <button type="submit" [class.spinner]="isSubmitting" [disabled]="createForm.invalid || isSubmitting " mat-raised-button
                    color="accent">{{createForm.value._id!==""?'update':'save'}}</button>
                </fieldset>
            </form>
        </div>

    </div>
</div>
</div>
